<%= form_with(model: troquele) do |form| %>
  <% if troquele.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(troquele.errors.count, "error") %> prohibited this troquele from being saved:</h2>

      <ul>
        <% troquele.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.number_field :categoria, as: :select, :collection => ["F", "C"], label: "Categoria", :input_html => { :class => "form-control"}%>

  </div>

  <div>
    <%= form.label :numero, style: "display: block" %>
    <%= form.number_field :numero %>
  </div>

  <div>
    <%= form.label :desarrollo, style: "display: block" %>
    <%= form.text_field :desarrollo %>
  </div>

  <div>
    <%= form.label :medida_cerrrada, style: "display: block" %>
    <%= form.text_field :medida_cerrrada %>
  </div>

  <div>
    <%= form.label :imagen, style: "display: block" %>
    <%= form.text_area :imagen %>
  </div>

  <div>
    <%= form.label :texto, style: "display: block" %>
    <%= form.text_field :texto %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.label :maquina, style: "display: block" %>
    <%= form.check_box :maquina %>
  </div>

  <div>
    <%= form.label :baja, style: "display: block" %>
    <%= form.check_box :baja %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
