<div id="<%= dom_id troquele %>">
  <p>
    <strong>Categoria:</strong>
    <%= troquele.categoria %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= troquele.numero %>
  </p>

  <p>
    <strong>Desarrollo:</strong>
    <%= troquele.desarrollo %>
  </p>

  <p>
    <strong>Medida cerrrada:</strong>
    <%= troquele.medida_cerrrada %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= troquele.imagen %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= troquele.texto %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= troquele.stock %>
  </p>

  <p>
    <strong>Baja:</strong>
    <%= troquele.baja %>
  </p>

</div>
