<p style="color: green"><%= notice %></p>

<%= render @troquele %>

<div>
  <%= link_to "Edit this troquele", edit_troquele_path(@troquele) %> |
  <%= link_to "Back to troqueles", troqueles_path %>

  <%= button_to "Destroy this troquele", @troquele, method: :delete %>
</div>
